body{
    color: #0b1002;
    font-variant: small-caps;
    font-size: 130%;
    background-image: url('sppoky.jpg');
    padding: 2em
}

h1{
    color: #228b22;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    padding: 2em;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #228b22;
}
#intro{
    font-weight: bold;
    border: 3px dashed #000000
}
main li{
    font-size: larger;
    line-height: 2em;
    
}
img{
    float: right
}
#red{
background-color: #ff0000;
color: black;
width: 20%;
padding-bottom: 7em;
}
#green{
background-color: #008000;
color: black;
width: 20%;
padding-right: 3em;
}
a{
    font-size: 10em;
}

ul.NewBone {list-style-image: url('NewBone.jpg');
}
.link1{
font-size: 5px;
}

.vertical-menu{
    font-size: 20%;
}